
body {
  margin: 0px;
  background-color: #D8DEEC;
  font-family: Arial, sans-serif;
  color: #333;
  background: linear-gradient(rgba(216, 222, 236, 0.8), rgba(103, 118, 153, 0.8)),
              url('./backflowers.jpg') no-repeat center center fixed;
  background-size: cover;
}

body .content {
  margin: 40px;
  color: #333; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
  width: 100%;
  background-color: #A4B2CC;
  padding: 10px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  margin: 10px;
  width: 100px;
  height: 100px;
  float: none;
}

nav {
  background-color: #ddd;
  padding: 5px;
  float: none;
}

h1 {
  margin: 0 20px;
  flex-grow: 1;
}
ul.horizontal-list {
    list-style: none;
    padding: 0;
}
ul.horizontal-list li {
    display: inline;
    margin-right: 20px;
}

footer {
    margin:0px;
    height:40px;
    display:flex;
    background: linear-gradient(90deg, #677699 0%, #596180 100%);
    align-items: center;
    justify-content:center;
    color: #F5F7FA;
}

a {
    text-decoration: none;
}

